@import url(https://fonts.googleapis.com/css?family=Open+Sans);

div.nodes {
    margin: 5%;
    display: inline-block;
}
div.dot {
    height: 20px;
    width: 20px;
    background-color: rgb(19, 54, 43);
    border-radius: 50%;
    padding: 5px;
    z-index: 2;
    position: relative;
}
div.dot div.inner {
    margin: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(15, 95, 133);
}
div.stroke {
    height: 100px;
    width: 5px;
    margin-left: 12.5px;
    background-color: rgb(173, 168, 168);
    z-index: -1;
    position: relative;
}
div.line {
    height: 5px;
    width: 100px;
    margin-left: 12.5px;
    background-color: rgb(173, 168, 168);
    margin-top: -15px;
    z-index: -1;
    position: relative;
}
div.label {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -15px;
    margin-left: 110px;
    float: left;
    width: 180px;
    padding: 15px;
    max-width: 100%;
    background-color: rgb(60, 74, 75);
    color: white;
    border-radius: 15px;
    transition: 0.5s;
}
div.label.larger {
    margin-top: -30px;
    padding: 20px;
    margin-left: 40px;
    font-size: 1.3em;
    background-color: rgb(8, 36, 58);
}
div.label:hover {
    background-color: #2090b2;
    box-shadow: 0 0 10px gray;
}